@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.nav {
    box-sizing: border-box;
    padding-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.37);
  &__container {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 $mobile-spacing;
    
  }
  &__list {
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    color: rgb(114, 113, 113);
    list-style: none;
    font-size: 1.8rem;
  }
  
  &__icon {
    width: 20px;
    height: 20px;
   
  }
}
