@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $mobile-spacing;
  height: 94vh;

  &__logo {
    height: 30vh;
    margin-bottom: 4rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__input {
    box-sizing: border-box;
    font-family: "Montserrat";
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 0.5rem solid #000000;
    font-weight: 300;
    background: $page-color;
    outline: none;
    color: $placeholder-color;
    margin-bottom: 1.5rem;
  }
  &__input:focus {
    border-bottom: 5px solid $inter-color;
  }
  &__login {
      width: 25rem;
    height: 4rem;
    line-height: 3rem;
    padding: 0 2rem;
    background: black;
    font-family: "Krona";
    font-size: $td-table-header;
    color: white;
    letter-spacing: 0.2rem;
    transition: 0.2s all ease-in-out;
    outline: none;
    border: 0.1rem solid rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 1px #ffffff, 3px 3px 1px 1px rgba(0, 0, 0, 1);
  }
  &__login:hover {
    background: $inter-color;
    color: white;
    border: 0.1rem solid #000000;
  }
  &__sign-up {
    font-size: $td-table-header;
    font-weight: 400;
    margin-top: $extra-small;
    height: 2rem;
  }

  &__link {
    text-decoration: none;
    color: #1f82bb;
    font-weight: 600;
    padding-left: $tiny;
  }
}

.error__message {
    color: $error;
    text-align: center;
}
