@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.upload {
    &__title-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__logo {
        width: 50px;
    }
    &__title {
        font-family: "Krona";
        font-size: 2rem;
        font-weight: 300;
        margin-left: 1rem;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
    }
    &__left-container {
        display: flex;
        flex-direction: column;
    }
    &__right-container {
       @extend .upload__left-container
    }
    &__notes {
        width: 100%;
    }
}