@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.upload {
  margin: 0 $mobile-spacing 8rem;
  &__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2rem;
  }
  &__logo {
    width: 100px;
    margin-left: 3rem;
  }
  &__title {
    font-family: "Barlow";
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 1rem;
    width: 100px;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $inter-color;
    border-radius: 1rem;
    padding: 0.5rem 0;
    width: 343px;
  }
  &__right-container {
    @extend .upload__left-container;
    margin-top: 2rem;
    background-color: $error;
  }

  &__cta {
    width: 25rem;
    height: 4rem;
    line-height: 3rem;
    padding: 0 2rem;
    background: black;
    font-family: "Krona";
    font-size: $td-table-header;
    color: white;
    letter-spacing: 0.2rem;
    transition: 0.2s all ease-in-out;
    outline: none;
    border: 0.1rem solid rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 1px #ffffff, 3px 3px 1px 1px rgba(0, 0, 0, 1);
  }
  &__notes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__notes-label {
    width: 90%;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: $font-color;
  }
  &__notes {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    height: 50px;
    border: none;
    border: 0.2rem solid black;
    border-radius: 1rem;
    background: $page-color;
    outline: none;
    margin-bottom: 1.5rem;
    resize: none;
  }
  &__notes::placeholder {
    font-family: "Barlow";
    font-weight: 200;
    color: $font-color;
    font-size: 1.2rem;
  }
  &__notes[type="text"] {
    padding: 1rem;
    font-family: "Barlow";
    color: $font-color;
  }
}
