@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.input {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 90%;

  &__label {
    margin-left: 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: $page-color;
  }
  &__input {
    margin-left: 2.5rem;
    box-sizing: border-box;
    height: 32px;
    border: none;
    border-bottom: 0.3rem solid $page-color;
    border-radius: 1.5rem;
    background: hsl(0, 0%, 0%);
    outline: none;
    margin-bottom: 1.5rem;
  }
  &__input[type="text"] {
    padding: 1rem;
    font-family: "Barlow";
    color: $page-color;
  }

  &__input::placeholder {
    font-family: "Barlow";
    font-weight: 200;
    color: $page-color;
    font-size: 1.2rem;
  }

  &__input--image {
    width: 25rem;
    margin: 0 0 1.5rem 2rem;
    color: $page-color;
    font-family: "Barlow";
    font-weight: 200;
  }
}
